{% extends "base.html" %}
{% load static %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
  <a class="navbar-brand" href="{% url 'post_list' %}">
    <img src="{% static 'images/logo.png' %}" alt="Post Application Logo" style="height: 40px; margin-right: 10px;">
  </a>
  <h1>Post Application</h1>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
      </li>
    </ul>
  </div>
</nav>
<h2 class="h2 text-center text-white mx-3 my-3"> Are You Sure want to delete Post </h2>
 <form method="post" action=" {% url 'post_list' %}">
    {% csrf_token %}
    <button type = "submit" class="btn btn-danger mx-3 my-3">Delete</button>
    <button type = "submit" class="btn btn-success mx-3 my-3">Cancel</button>
 </form>
{% endblock body %}